@model IEnumerable<Product>


<section>
    <h1>@ViewBag.Title</h1>
    <p>Count: @Model.Count()</p>
    @foreach (var p in Model)
    {
        <li>@p.BeerName</li>
    }

    <div class="row">
        @foreach (var p in Model)
        {
            <div class="col-md-3">
                <img class="img-fluid" src="~/_img/beers/@(p.PhotoId).png" />
                <h3>@p.BeerName</h3>
                <h5 style="font-style:italic">by  @p.Producer</h5>
                <ul class="product-props">
                    <li>Name: @p.BeerName</li>
                    <li>Producer: @p.Producer</li>
                    <li>Category: @p.BeerCategory</li>
                    <li>Description: @p.Description</li>
                    <li>Price: @p.Price</li>
                </ul>
                <button id="buyButon" class="btn btn-success">Buy</button>
            </div>
        }
    </div>

</section>